@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   scroll-behavior: smooth;
}
body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}
header{
    position: fixed;
    top: 0;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    box-shadow: 2px 2px 30px black;
    z-index: 1;
}
nav{
    margin-right: 135px;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
}
a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    margin: 0 2em;
}
img{
    width: 300px;
}
form input{
    display: block;
}
.first{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px auto;
    margin-top: 100px;
    margin-bottom: 90px;
    padding-top: 100px;
}
.first h2{
    text-align: center;
}
.first input[type="email"]{
    width: 300px;
    padding: 5px;
}
.button{
    border: none;
    width: 170px;
    padding: 7px;
    text-transform: uppercase;
    background-color: #f1c40f;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    transition: background 0.3s 0.1s ease-in-out;
}
.button:hover{
    background-color: darkorange;
}
.first h2, .first input[type="email"], .button{
    margin: 0 auto;
    margin-bottom: 15px;
}
.second{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    margin-top: 100px;
    padding: 100px 0;
}
.grid{
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.text{
    margin-left: 50px;
    width: 100%;
}
.fa{
    color: darkorange;
}
.fa-fire{
    width: 60px;
}
#video{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
iframe{
    max-width: 560px;
    width: 100%;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 160px;
    padding: 100px 0;
}
.card-1{
    width: 320px;
    border: 1px solid black;
    text-align: center;
    transition: transform 0.3s 0.1s ease-in-out;
}
.card-1:hover{
    transform: scale(1.1);
}
.card-1 h4{
    background-color: #ddd;
    text-transform: uppercase;
    padding: 10px;
}
.space{
    margin-bottom: 15px;
}
button{
    border: none;
    width: 100px;
    background-color: #f1c40f;
    padding: 9px;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 3px;
    transition: background 0.3s 0.1s ease-in-out;
}
button:hover{
    background-color: darkorange;
}
footer{
    background-color: #ddd;
    width: 75%;
    margin: 40px auto 0 auto;
    text-align: right;
    padding: 15px 20px;
}
footer a{
    margin: 0;
    padding-left: 5px;
    padding-right: 15px;
}
footer p{
    color: rgb(51, 51, 51);
    font-size: 15px;
    margin-top: 7px;
    margin-bottom: 3px;
}
@media (max-width: 1017px){
    footer{
        width: 100%;
        min-width: 75%;
    }
}
@media (max-width: 1004px){
    .card-1{
        width: 300px;
    }
    a{
        margin: 10px;
    }
    nav{
        margin: 0 50px 0 20px;
    }
    img{
        width: 260px;
    }
}
@media (max-width: 944px){
    .card-1{
        width: 250px;
    }
}
@media (max-width: 800px){
    .cards{
        flex-direction: row;
    }
    .card-1{
        width: 70%;
        max-width: 320px;
    }
}
@media (max-width: 684px){
    nav{
        margin: 2px;
    }
}
@media (max-width: 618px){
    header{
        flex-direction: column;
        margin: 0 auto;
        padding: 17px 0;
        height: 170px;
    }
    nav{
        margin: 0;
    }
    nav li{
        display: block;
        padding: 5px 0;
    }
    nav a{
        margin: 0;
        text-align: center;
        padding: 0;
    }
    .first{
        margin-top: 210px;
        padding: 100px 0;
    }
    .first input[type="email"]{
        width: 60%;
    }
    .button{
        width: 25%;
        font-size: 15px;
    } 
    .second{
        padding: 200px 0;
    }
    #video{
        padding: 200px 0;
    }
    .cards{
        padding: 200px 0;
    }
}
@media (max-width: 550px){
    .grid{
        display: block;
    }
    .icon{
        display: none;
    }
    .text{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .button{
        width: 20%;
        font-size: 12px;
    } 
}
@media (max-width: 280px){
    img{
        width: 140px;
    }
    .first h2{
        font-size: 1.2rem;
    }
	.first input[type="email"]{
        width: 95%;
    }
    .button{
        width: 60%;
        font-size: 9px;
    }
}
@media (min-width: 280px) and (max-width: 511px){
    .button{
        width: 40%;
    }
    .first{
        padding: 65px 0;
    }
}